In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta, datetime
from tqdm import tqdm
import matplotlib.pyplot as plt
import plotly.graph_objects as go

/opt/anaconda3/lib/python3.7/site-packages/mpl_finance.py:22: DeprecationWarning:

  =================================================================

   WARNING: `mpl_finance` is deprecated:

    Please use `mplfinance` instead (no hyphen, no underscore).

    To install: `pip install --upgrade mplfinance`

   For more information, see: https://pypi.org/project/mplfinance/

  =================================================================

  category=DeprecationWarning)

# Extract Data

In [2]:
df_ethereum = pd.read_csv('../Data/partitioned_coins/Ethereum.csv').drop('Unnamed: 0', axis=1)

# Ethereum (Last 200 Minutes)

In [3]:
df_ethereum.head(3)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Datetime
0,1514764860,6,173.0,738.3025,746.00,732.51,738.5075,335.987856,738.839291,-0.004809,2017-12-31 16:01:00
1,1514764920,6,192.0,738.5075,745.14,732.49,738.2600,232.793141,738.268967,-0.004441,2017-12-31 16:02:00
2,1514764980,6,120.0,738.3325,745.12,730.00,737.5025,174.138031,737.994457,-0.004206,2017-12-31 16:03:00

In [4]:
df_ethereum_filt = df_ethereum[len_df-200:]

NameError: name 'len_df' is not defined

In [ ]:
datetime = list(df_ethereum_filt['timestamp'].apply(lambda x: datetime.fromtimestamp(x)))

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(datetime, list(df_ethereum_filt['Close']))
plt.xlabel('Date')
plt.ylabel('Ethereum Close ($)')

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=df_ethereum_filt.Datetime, 
                                     open=df_ethereum_filt['Open'], high=df_ethereum_filt['High'], 
                                     low=df_ethereum_filt['Low'], close=df_ethereum_filt['Close'])])
fig.update_xaxes(title_text="$")
fig.update_yaxes(title_text="Time")
fig.update_layout(title="Ethereum Price, 200 Last Minutes")
fig.show()